* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #449CA6;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}


nav.navbar.custom-navbar {
  background-color: #449CA6 !important;
}


header {
  margin-bottom: 0;
  padding-bottom: 0;
}

section {
  min-height: 100vh;
}

/* Ajuste de Espacio para Secciones con Barra de Navegación Fija */
section::before {
  content: "";
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

section {
  padding-top: 70px;
}

section h1 {
  margin-top: 0;
}

#carrusel {
  min-height: auto;
}

#quienes-somos {
  background-color: black;
  color: white;
  min-height: auto;
}

.centro {
  text-align: center;
}

.icono-con-fondo {
  background-color: #449CA6;
  padding: 10px;
  text-align: center;
  color: white;
}


.icono-con-fondo i {
  width: auto;
  height: auto;
}

#destacados {
  background-color: bisque;
}

#contacto {
  background-color: blueviolet;
}

/* Media Queries */

/* Ajuste cuando el navbar está expandido en móviles */
@media (max-width: 768px) {
  body.navbar-expanded section::before {
    height: 190px;
    margin-top: 5px;
  }
}

@media (max-width: 767.98px) {
  #quienes-somos .col-md-4 {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .d-none.d-md-block {
    display: none !important;
  }
}